/* .accountability-container {
  max-width: 100%;
  margin: 0 auto;
  background: #ffffff;
}

.accountability-subtitle {
  font-size: 13px;
  color: #666;
}

.form-group {
  margin-bottom: 15px;
}

.form-input, 
.form-select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.submit-btn {
  padding: 10px 15px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.table-section {
  margin-top: 40px;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 14px;
}

.data-table th, 
.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-table th {
  background: #f4f4f4;
  text-align: left;
}

.empty-row {
  text-align: center;
  padding: 15px;
  color: #777;
}

.mono-text {
  font-family: monospace;
}

.bold-text {
  font-weight: bold;
}

.badge-assigned {
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  background: #d4edda;
  color: #155724;
}

.badge-available {
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  background: #fff3cd;
  color: #856404;
}

.badge-par {
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  background: #cce5ff;
  color: #004085;
  font-weight: bold;
}

.badge-ics {
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  background: #e2e3e5;
  color: #383d41;
  font-weight: bold;
}

.table-subtext {
  font-size: 11px;
  color: #6b7280;
  margin-top: 2px;
}

.badge-repair {
  background: #fff3cd;
  color: #856404;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
}

.badge-condemned {
  background: #f8d7da;
  color: #721c24;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
}

.sp-badge-assigned { 
  background: #e0f2fe; 
  color: #0369a1;
 }

 .sp-stock-qty {
  font-weight: 500;
  font-size: 14px;
 }

 .btn-excel-download {
  background-color: #52e725;
  border-radius: 50px;
  margin: 0px 10px 0px 0px;
  font-size: 14px;
 }

 .btn-pdf-download {
  background-color: #007bff;
  border-radius: 50px;
  margin: 0px 10px 0px 0px;
  font-size: 14px;
 } */